/* DEFAULT SETTING */
/* fonts */
@font-face{
    font-family: 'bungee';
        src: url(font/BungeeHairline-Regular.woff) format('woff'),
            url(font/BungeeHairline-Regular.woff2) format('woff2');
}

@font-face{
    font-family: 'oxygen';
        src: url(font/Oxygen-Light.woff) format('woff'),
            url(font/Oxygen-Light.woff2) format('woff2');
}

/* variables */
:root{
    --text: rgb(223, 228, 237);
    --background: rgb(10, 13, 19);
    --primary: rgb(159, 176, 202);
    --secondary: rgb(68, 63, 114);
    --accent: rgb(122, 109, 175);

    --midSizeText: 3vmin;
    --smallSizeText: 1.85vmin;
    --titleSizeText: 7.85vmin;
    /* https://www.w3schools.com/css/css3_variables.asp */
}

/* general setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* MAIN PAGE */
body{
    background-color: var(--background);
    overflow-x: hidden;
}

/* Header */
header {
    padding: 2vmin;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(11,11,11,0) 0%, rgba(11,11,11,1) 100%);
    z-index: 100;
}

.logo{
    position: relative;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logo > img{
    height: 100%;
    width: 100%;
}

.rightSideHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.rightSideHeader > *{
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 2vw;
    font-size: var(--midSizeText);
    color: var(--text);
    font-family: "bungee";

    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.rightSideHeader > *:hover{
    letter-spacing: 0.25vmin;
}
.rightSideHeader > *:hover .buttonLine{
    width: 100%;
}

.rightSideHeader > *:active{
    letter-spacing: -0.25vmin;
}

.buttonLine{
    width: 0%;
    height: 0.25vh;
    background-color: aliceblue;
    margin-top: -1vh;

    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.logo:hover{
    scale: 1.25;
}

.logo:active{
    scale: 0.9;
}

/* Hero section */
.heroSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 21;
}

.topHero > h1{
    color: var(--text);
    font-size: var(--titleSizeText);
    text-align: center;
    font-family: "bungee";
    margin-top: 10vmin;

}

.topHero > h2{
    color: var(--text);
    font-size: var(--midSizeText);
    text-align: center;
    font-family: "oxygen";
    margin-top: -5vmin;
}

body > canvas {
    display: none;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 99;
}

.gradientMainTop{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;

    background: linear-gradient(0deg, rgba(122,109,175,0.75) 0%, rgba(122,109,175,0) 50%);
}

.gradientMainBottom{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;

    background: linear-gradient(180deg, rgba(122,109,175,0.75) 0%, rgba(122,109,175,0) 100%);
}

.gradientTween{
    background: linear-gradient(90deg, rgba(10,13,19, 0.78) 0%, rgba(10,13,19,0.5228466386554622) 7%, rgba(10,13,19,0.458420868347339) 11%, rgba(10,13,19,0.23433123249299714) 22%, rgba(10,13,19,0.43601190476190477) 28%, rgba(10,13,19,0.5844712885154062) 38%, rgba(10,13,19,0.9) 47%, rgba(10,13,19,0.53125) 58%, rgba(10,13,19,0.17550770308123254) 71%, rgba(10,13,19,0.7077205882352942) 83%, rgba(10,13,19,0.5284488795518207) 94%, rgba(10,13,19, 0.78) 100%);
    background-size: 200% 100%;
    position: absolute;
    width: 100vw;
    height: 150vh;
    margin-top: -50vh;
    z-index: 0;

    animation: animateGradient 7.57s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
}

.bottomHero{
    width: 10vmin;
    height: 10vmin;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.leftHalfArrow{
    width: 50%;
    height: 1vmin;
    background-color: var(--primary);
    rotate: 45deg;
    border-radius: 100vmin;
    transform: translateX(1.3vmin);
    opacity: 1;

    animation: scrollDownAnim 1s cubic-bezier(0.5, 0, 0.75, 0) infinite alternate;
}

.rightHalfArrow{
    width: 50%;
    height: 1vmin;
    background-color: var(--primary);
    rotate: -45deg;
    border-radius: 100vmin;
    transform: translateX(-1.3vmin);
    animation: scrollDownAnim 1s cubic-bezier(0.5, 0, 0.75, 0) infinite alternate;
    opacity: 1;
}

@keyframes scrollDownAnim {
    0% {
        margin-top: -5vmin;
        opacity: 1;
    }

    100%{
        margin-top: 0vmin;
        opacity: 0;
    }
}

@keyframes animateGradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.gradientTween2{
    background: linear-gradient(90deg, rgba(10,13,19, 0.78) 0%, rgba(10,13,19,0.5228466386554622) 7%, rgba(10,13,19,0.8) 11%, rgba(10,13,19,0.23433123249299714) 22%, rgba(10,13,19,0.1) 28%, rgba(10,13,19,0.5844712885154062) 38%, rgba(10,13,19,0.36318277310924374) 47%, rgba(10,13,19,0.9) 58%, rgba(10,13,19,0.75) 71%, rgba(10,13,19,0.7077205882352942) 83%, rgba(10,13,19,0.5284488795518207) 94%, rgba(10,13,19, 0.78) 100%);
    background-size: 200% 100%;
    background-position: 100% 0%;

    position: absolute;
    width: 100vw;
    height: 150vh;
    margin-top: -50vh;
    z-index: 0;

    animation: animateGradient2 11.824s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
}

@keyframes animateGradient2 {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* ABOUT THE PRODUCT */
.aboutSection{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 21;
}

.aboutSection > h1{
    color: var(--text);
    font-size: var(--titleSizeText);
    font-family: "bungee";
    margin-left: 5vw;
    padding-top: 5vh;
}

.aboutSection > p{
    margin-left: 5vw;
    color: var(--text);
    font-size: var(--midSizeText);
    font-family: "Oxygen";
    width: 100vmin;
}

.aboutSection > canvas {
    display: none;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 99;
}

/* KEY SPECS SECTION */
.keySpecsSection{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 21;
}

.keySpecsSection > h1{
    color: var(--text);
    font-size: var(--titleSizeText);
    font-family: "bungee";
    margin-right: 5vw;
    padding-top: 5vh;
}

.dataBox{
    margin-right: 5vw;
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: -5vmin;
}

.dataBox > p{
    color: var(--text);
    font-size: var(--midSizeText);
    font-family: "Oxygen";
    padding: 2vmin 2vmin;
    margin: 1vmin 0;
    background-color: rgba(122, 109, 175, 0.5);
    border-radius: 2vmin;
    backdrop-filter: blur(1vmin);
    width: fit-content;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.keySpecsSection > canvas{
    display: none;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 99;
}

/* DECO BOX, whatever those lines are */
.decoBox{
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin-top: -100vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}

.topLines{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topLines > *{
    margin-bottom: 2vmin;
}

.decolineSmall{
    width: 200vw;
    height: 1vmin;
    background-color: rgba(68, 63, 114, 0.7);
    rotate: 10deg;
    opacity: 1;
}

.decolineBig{
    width: 200vw;
    height: 3vmin;
    background-color: rgba(68, 63, 114, 0.7);
    rotate: 10deg;
}

.decolineBig:nth-child(2){
    opacity: 1;
}

.decolineBig:nth-child(3){
    opacity: 0.5;
}

.decolineBig:nth-child(4){
    opacity: 0.25;
}

.decolineBig:nth-child(5){
    opacity: 0.125;
}

.decolineBig:nth-child(6){
    opacity: 0.0625;
}

.bottomLines{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bottomLines > *{
    margin-bottom: 2vmin;
}

.gradientForLines{
    background: linear-gradient(90deg, rgba(10,13,19,0.5) 0%, rgba(10,13,19,0.2) 4%, rgba(10,13,19,0.4) 8%, rgba(10,13,19,0.5) 19%, rgba(10,13,19,0.1) 26%, rgba(10,13,19,0.15) 33%, rgba(10,13,19,0.6) 41%, rgba(10,13,19,0.3) 54%, rgba(10,13,19,0.4) 64%, rgba(10,13,19,0.1) 73%, rgba(10,13,19,0.6) 79%, rgba(10,13,19,0.25) 89%, rgba(10,13,19,0.1) 94%, rgba(10,13,19,0.5) 100%);
    width: 120vw;
    height: 100vh;
    background-size: 200% 100%;
    rotate: 10deg;
    position: absolute;
    z-index: 2;
    animation: animateGradientDeco 11.824s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
}

@keyframes animateGradientDeco {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.gradientForLines2{
    background: linear-gradient(90deg, rgba(10,13,19,0.5) 0%, rgba(10,13,19,0.2) 8%, rgba(10,13,19,0.15) 13%, rgba(10,13,19,0.5) 19%, rgba(10,13,19,0.1) 26%, rgba(10,13,19,0.3) 32%, rgba(10,13,19,0.6) 41%, rgba(10,13,19,0.20632002801120453) 46%, rgba(10,13,19,0.6) 48%, rgba(10,13,19,0.4) 55%, rgba(10,13,19,0.4416141456582633) 60%, rgba(10,13,19,0.25) 62%, rgba(10,13,19,0.4) 64%, rgba(10,13,19,0.1) 75%, rgba(10,13,19,0.1) 84%, rgba(10,13,19,0.5) 100%);
    width: 120vw;
    height: 100vh;
    background-size: 200% 100%;
    rotate: 10deg;
    position: absolute;
    z-index: 2;
    animation: animateGradientDeco2 7.57s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
}

@keyframes animateGradientDeco2 {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* PRICING SECTION */
.pricingSection{
    position: relative;
    width: 100vw;
    height: 50vh;
    z-index: 21;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricingSection > h1{
    color: var(--text);
    font-size: var(--titleSizeText);
    font-family: "bungee";
    padding-top: 2.5vh;
    z-index: 10;
}

.textFooter{
    color: var(--text);
    font-size: var(--midSizeText);
    font-family: "oxygen";
    text-align: center;
    z-index: 10;
    margin-top: -5vmin;
}

.smallerTextFooter{
    color: var(--text);
    font-size: var(--smallSizeText);
    font-family: "oxygen";
    font-style: italic;
    text-align: center;
    opacity: 0.25;
    z-index: 10;

}

.bgGradientFooter{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(159, 176, 202,0.25) 0%, rgba(10,13,19,0) 50%);
    position: absolute;
    z-index: 1;
}

.gradientAnimationFooter{
    background: linear-gradient(90deg, rgba(10,13,19,0.5) 0%, rgba(10,13,19,0.2) 8%, rgba(10,13,19,0.15) 13%, rgba(10,13,19,0.5) 19%, rgba(10,13,19,0.1) 26%, rgba(10,13,19,0.3) 32%, rgba(10,13,19,0.6) 41%, rgba(10,13,19,0.20632002801120453) 46%, rgba(10,13,19,0.6) 48%, rgba(10,13,19,0.4) 55%, rgba(10,13,19,0.4416141456582633) 60%, rgba(10,13,19,0.25) 62%, rgba(10,13,19,0.4) 64%, rgba(10,13,19,0.1) 75%, rgba(10,13,19,0.1) 84%, rgba(10,13,19,0.5) 100%);
    width: 100%;
    height: 50%;
    background-size: 200% 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    animation: gradientAnimationFooter 15.14s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
}

@keyframes gradientAnimationFooter {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.gradientAnimationFooter2{
    background: linear-gradient(90deg, rgba(10,13,19,0.5) 0%, rgba(10,13,19,0.2) 8%, rgba(10,13,19,0.15) 13%, rgba(10,13,19,0.5) 19%, rgba(10,13,19,0.1) 26%, rgba(10,13,19,0.3) 32%, rgba(10,13,19,0.6) 41%, rgba(10,13,19,0.20632002801120453) 46%, rgba(10,13,19,0.6) 48%, rgba(10,13,19,0.4) 55%, rgba(10,13,19,0.4416141456582633) 60%, rgba(10,13,19,0.25) 62%, rgba(10,13,19,0.4) 64%, rgba(10,13,19,0.1) 75%, rgba(10,13,19,0.1) 84%, rgba(10,13,19,0.5) 100%);
    width: 100%;
    height: 50%;
    background-size: 200% 100%;
    position: absolute;
    bottom: 0;
    z-index: 3;
    animation: gradientAnimationFooter2 23.648s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
}

@keyframes gradientAnimationFooter2 {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

.pricingSection > canvas {
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 99;
}

/* Background image animation */
.bgImage{
    position: fixed;
    top: 0;
    z-index: 20;
    background-image: url(image/bgImage.png);
    width: 100vw;
    height: 100vh;
    background-position: -50vw -50vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    filter: blur(0.5vmin);
    animation: bgAnimation 60s linear infinite alternate;
}

@keyframes bgAnimation {
    0%{
        background-position: 0% 0%;
    }

    100%{
        background-position: -100% 100%
    }
}
/* Contact section */
.contactSection{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2vmin);
    z-index: 100;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
}

.isContactOpen{
    visibility: visible;
    opacity: 1;
}

.isNotScrollable{
    overflow-y: hidden;
}
.contactSection > h1{
    color: var(--text);
    font-size: 12.70vmin;
    font-family: "bungee";
    margin-top: -10vmin;
}

.contactSection > p{
    color: var(--text);
    font-size: var(--midSizeText);
    font-family: "oxygen";
    text-align: center;
    margin-top: -5vmin;
}

.contactSection > button{
    color: var(--text);
    font-size: var(--titleSizeText);
    font-family: "oxygen";
    text-align: center;
    margin-top: 5vmin;
    background: none;
    border: none;
    padding: 0vmin 2vmin;
    transform: translateY(1vmin);
    cursor: pointer;

    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.contactSection > button > div{
    width: 0%;
    height: 0.5vmin;
    background-color: var(--text);
    margin-top: 2vmin;

    transition: all 0.75s cubic-bezier(0.16, 1, 0.3, 1);
}

.contactSection > button:hover > div{
    width: 100%;
}

.contactSection > button:hover{
    letter-spacing: 1vmin;
    transform: translateY(0vmin);
}

.contactSection > button:active{
    letter-spacing: -0.5vmin;
    transform: translateY(1vmin);
}
/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 1vmin;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.5); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--primary); 
border-radius: 100vmin;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--secondary); 
}